@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 1rem;
    overflow-x: hidden !important;
    font-family: 'Exo 2', sans-serif !important;
   }
  body {
    font-family: 'Exo 2', sans-serif !important;
    font-size: 1rem;
    overflow-x: hidden !important;
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none !important;
  }
  
  p {
    font-weight: 300 !important;
    line-height: 25px !important;
  }
  .dropdown-menu {
    border: 0px !important;
    border-radius: 0px !important;
  }
.tab-content {
  background-color: var(--white) !important;
}

.devis {
  font-weight: 600;
  text-decoration: none;
  color: var(--third);
  background-color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 30px;
}

  :root {
    --primary: #00355b;
    --secondary: #227da8;
    --third : #151515;
    --white: #ffffff;
    --background: #DFDFDF;
    --bg-navbar: #c2c2c2;
    --hover-navbar: #4545e3;
   }

/**********************************************
                        Header
**********************************************/
#header-top {
  background: var(--primary);
  color: var(--background);
}
#header-top li a {
  margin-left: 1rem;
}
#header-top li a i{
  font-size: 20px;
  color: var(--white) !important;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#header .navbar {
  background-color: var(--white);
}
#header .navbar .navbar-brand img {
  max-width: 100%;
  width: 120px;
  max-height: 100%;
}
#header .navbar .navbar-nav li {
  margin: 0 1rem;
}
#header .navbar .navbar-nav .active {
  border-bottom: 4px solid var(--primary);
}
#header .navbar .navbar-nav a {
  color: var(--third);
}

#header .navbar .navbar-nav a:hover {
  font-weight: 600;
  color: var(--hover-navbar);
  transition: all ease-out 0.3s;
}
#header .navbar .navbar-nav .dropdown {
  position: relative;
}

#header .navbar .navbar-nav .dropdown .sub-menu {
  position: absolute;
  background: var(--white);
  display: none;
  padding: 1.2rem 0rem;
  width: 250px;
}
#header .navbar .navbar-nav .dropdown .sub-menu li a {
  line-height: 30px;
  padding-left: 10px;
}
#header .navbar .navbar-nav .dropdown .sub-menu li{
  list-style: none;
  padding: 0;
  margin: 0.6rem 0;
  width: 100%;
}
#header .navbar .navbar-nav .dropdown .sub-menu li a{
  color: var(--third);
  margin: 1rem auto;
}
#header .navbar .navbar-nav .dropdown .sub-menu li a:hover{
  color: var(--primary);
}
#header .navbar .navbar-nav .dropdown .sub-menu li:hover  {
  background: var(--background);
  width: 100%;
}
#header .navbar .navbar-nav .dropdown:hover .sub-menu{
  display: block;
}

#header .navbar a.btn {
  background-color: var(--hover-navbar);
  color: var(--white);
  margin-right: 2rem;
  width: 190px;
  height: 40px;
  line-height: 27px;
  border-radius: 30px;
}
#header .navbar .navbar-nav a.btn:hover {
  background-color: var(--secondary);
  transition: all 0.3s ease-in;
}

#header .navbar .navbar-nav a.rs i{
 font-size: 1.4rem;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: var(--primary);
  padding-right: 40px;
  color: var(--third);
}
.input-search::placeholder{
  color:var(--third);
  font-size: 15px;
  font-weight: 400;
}
.btn-search{
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: #DFDFDF;
  border-bottom:1px solid #a2a1a1;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: #DFDFDF;
  border-bottom:1px solid #a2a1a1;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.flash span {
  position: absolute;
  background: var(--secondary);
  color: var(--third);
  padding: 0.7rem 1.2rem;
  z-index: 1;
}
.flash p {
  margin-left: 1rem;
  margin-bottom: 0px !important;
}
.scrolling-text {
  position: absolute;
  white-space: nowrap;
  animation: scrollLeft 15s linear infinite; 
}
@keyframes scrollLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.i-news{display:none;}
.span-news{display:inline;}

.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler {
  border: none !important;
}
span.bi.bi-x {
  font-size: 2rem;
}


/**********************************************
                    Banner
**********************************************/
#banner {
  background-image: url(images/banner-lawson.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#banner .fix-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 50%;
  color: var(--white);
}
#banner .fix-text .diviser {
  margin-top: 12px;
  margin-right: 5px;
  width: 30%;
}
#banner .fix-text .diviser::before {
  display: block;
  content: "";
  border-top: 1px solid var(--white);
}
#banner .fix-text h1 {
  font-weight: 600;
  font-size: 3.5rem;
  
}
#banner .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--third);
  opacity: 0.6;
}
#banner .fix-text .btn-banner {
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  line-height: 35px;
  font-weight: 500;
  border-radius: 30px;
}
#banner .fix-text .btn-banner:hover {
  background-color: var(--third);
  transition: all 0.3s ease-in;
}


/**********************************************
                Features Index TWo
**********************************************/


#tips {
  position: relative;
  margin-top: -3rem;
}
#tips .cover-tip-one-tap {
  background: url(images/tip-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#tips .cover-tip-two-tap {
  background: url(images/tip-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#tips .cover-tip-three-tap {
  background: url(images/tip-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#tips .cover-tip-one-tap .tip-content, 
#tips .cover-tip-two-tap .tip-content, 
#tips .cover-tip-three-tap .tip-content {
  padding: 5rem 1.5rem 1rem;
}
#tips .cover-tip-one-tap .tip-content ul li, 
#tips .cover-tip-two-tap .tip-content ul li, 
#tips .cover-tip-three-tap .tip-content ul li {
  font-weight: 300;
}
#tips .tip-content h4 {
  font-weight: 600;
  font-size: 1.3rem;
}
#tips .cover-tip-one-tap p, 
#tips .cover-tip-two-tap p, 
#tips .cover-tip-three-tap p{
  text-align: justify;
  margin-top: 1.5rem;
}
#tips .cover-tip-one-tap .btn-tip, 
#tips .cover-tip-three-tap .btn-tip, 
#tips .cover-tip-two-tap .btn-tip {
  background-color: var(--primary);
  color: var(--white);
  font-size: 1rem;
  width: 250px;
  height: 50px;
  line-height: 35px;
  font-weight: 500;
  border-radius: 30px;
}
#tips .cover-tip-one-tap .btn-tip:hover, 
#tips .cover-tip-three-tap .btn-tip:hover, 
#tips .cover-tip-two-tap .btn-tip:hover {
  background-color: var(--third);
  transition: all 0.3s ease-in;
}

/**********************************************
                    Features
**********************************************/
#tips {
  position: relative;
  margin-top: -3rem;
}
#tips .cover-tip-one {
  background: url(images/tip-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 500px;
  overflow-y: auto;
}
#tips .cover-tip-two {
  background: url(images/tip-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 500px;
  overflow-y: auto;
}
#tips .cover-tip-three {
  background: url(images/tip-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 500px;
}

#tips .cover-tip-one .tip-content, 
#tips .cover-tip-two .tip-content, 
#tips .cover-tip-three .tip-content {
  padding: 5rem 1.5rem 1rem;
  max-height: 500px;
  overflow-y: auto;
}
#tips .cover-tip-one .tip-content ul li, 
#tips .cover-tip-two .tip-content ul li, 
#tips .cover-tip-three .tip-content ul li {
  font-weight: 300;
}
#tips .tip-content .diviser {
  margin-top: 12px;
  margin-right: 10px;
  width: 20%;
}
#tips .tip-content .diviser::before {
  display: block;
  content: "";
  border-top: 3px solid var(--primary);
}
#tips .tip-content h4 {
  font-weight: 600;
  font-size: 1.3rem;
}
#tips .cover-tip-one p, 
#tips .cover-tip-two p, 
#tips .cover-tip-three p{
  text-align: justify;
  margin-top: 1.5rem;
}
#tips .cover-tip-one .btn-tip, 
#tips .cover-tip-three .btn-tip, 
#tips .cover-tip-two .btn-tip {
  background-color: var(--primary);
  color: var(--white);
  font-size: 1rem;
  width: 250px;
  height: 50px;
  line-height: 35px;
  font-weight: 500;
  border-radius: 30px;
}
#tips .cover-tip-one .btn-tip:hover, 
#tips .cover-tip-three .btn-tip:hover, 
#tips .cover-tip-two .btn-tip:hover {
  background-color: var(--third);
  transition: all 0.3s ease-in;
}

/**********************************************
                    Advice
**********************************************/
#advice .g-advice .diviser {
  margin-top: 15px;
  margin-right: 10px;
  width: 10%;
}
#advice .g-advice .diviser::before {
  display: block;
  content: "";
  border-top: 3px solid var(--primary);
}
#advice .g-advice span {
  font-size: 1.4rem;
}
#advice h2 .liest {
  margin-top: 1rem;
  color: var(--primary);
}
#advice p {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
#advice .liest {
  font-weight: 500;
  font-size: 1.1rem;
}
#advice .setup-one {
  position: relative;
  margin: 15px;
  max-width: 100%;
  color: var(--third);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
  box-shadow: rgb(0 0 0 / 96%) 0px 3px 8px;
  padding: 5rem 1.5rem;
}

#advice .setup-one i {
  display: inline;
  font-size: 2rem;
  padding: 1.7rem 2rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  background: var(--secondary);
}
#advice .setup-one .push h5 {
  margin-top: 2rem;
}
#advice .setup-one span {
  font-weight: 300;
  font-size: 0.7rem;
}
#advice .setup-two {
  background-color: var(--primary);
  color: var(--white);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4rem 1.3rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
#advice .setup-one::before,
#advice .setup-one::after {
  box-sizing: border-box;
  transition: all .40s ease;
  
}
#advice .setup-one:hover .setup-two {
  transform: translate(0, 0);
  box-shadow: rgba(7, 7, 11, 0.751) 0px 48px 100px 20px;
}
#advice .setup-one .setup-two {
  font-weight: 400;
  transform: translateY(100%);
  transition: all .40s ease;
}
#advice .setup-one:hover .push {
  transform: translateY(-100%);
  transition: all .40s ease;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
#advice .setup-two .link-service {
  color: var(--white);
  background: transparent;
  padding: 0.6rem 1rem;
  border: 1px solid var(--white);
  border-radius: 10px;
}
#advice .setup-two .link-service:hover {
  background: var(--background);
  color: var(--primary);
  
}
#advice .bg-advice {
  background: url('images/bgn-industries.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#advice .btn-advice {
  background-color: var(--secondary);
  color: var(--white);
  margin-top: 3rem;
  width: 220px;
  height: 50px;
  line-height: 35px;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 30px;
}
#advice .btn-advice:hover {
  background-color: var(--third);
  transition: all 0.3s ease-in;
}
#advice .slick-prev, 
#advice .slick-next {
  display: block;
  background-color: var(--primary);
}
#advice .slick-dots li button:before {
  display: none;
  font-size: 40px;
}


/**********************************************
                    Partner
**********************************************/
#partner {
  position: relative;
  background: url(images/bgn-searching-ConvertImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#partner .segment {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#partner .segment ul li {
  position: relative;
  color: var(--white) !important;
}
#partner .l-partner .diviser {
  margin-top: 10px;
  margin-right: 10px;
  width: 10%;
}
#partner .l-partner .diviser::before {
  display: block;
  content: "";
  border-top: 3px solid var(--white);
}
#partner span {
  position: relative;
  color: var(--white);
}
#partner h2 {
  position: relative;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--white);
}
#partner h2 > span {
  color: var(--secondary);
}
#partner p {
  position: relative;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--white);
}
#partner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--third);
  opacity: 0.6;
}
#partner .img {
  padding-top: -5rem !important;
}



/**********************************************
                    Offres
**********************************************/
#offer .l-offer {
  position: relative;
}
#offer .l-offer h2{
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
}
#offer .l-offer h2::before {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 17px;
  left: 33%;
  width: 100px;
  height: 3px;
}
#offer .l-offer h2::after {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 17px;
  right: 33%;
  width: 100px;
  height: 3px;
}
#offer .l-offer h3 {
  font-weight: 700;
  font-size: 2.7rem;
}
#offer .l-offer h3 > span {
  color: var(--secondary);
}
#offer .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin: 0.7rem;
  margin-right: -1rem;
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#offer .img-box img {
  max-width: 60%;
}
#offer .service {
  position: relative;
  width: 450px;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#offer .service h6 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}
#offer .service span a {
  font-weight: 300;
  color: var(--white);
  background: var(--secondary);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
}

#offer span a:hover {
  background-color: var(--third);
  transition: all 0.3s ease-in;
}
#offer .service:hover {
  border: 3px solid var(--primary);
}








/**********************************************
                    Testinomials
**********************************************/

#testinomial .l-offer {
  position: relative;
}
#testinomial .l-offer h2{
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
}
#testinomial .l-offer h2::before {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 17px;
  left: 29%;
  width: 100px;
  height: 3px;
}
#testinomial .l-offer h2::after {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 17px;
  right: 29%;
  width: 100px;
  height: 3px;
}
#testinomial .l-offer h3 {
  font-weight: 700;
  font-size: 2.7rem;
}
#testinomial .l-offer h3 > span {
  color: var(--secondary);
}

.testimonial-reel {
  margin-bottom: 4rem !important;
  margin-top: 4rem;
}
.testimonial-reel .box {
  position: relative;
  margin-bottom: 30px;
}
.testimonial-reel .box .image {
  margin: 0 auto -70px;
  text-align: center;
}
.testimonial-reel .box .image i {
  font-size: 100px;
  margin: 0 auto;
}
.testimonial-reel .box .test-component {
  background-color: #fff;
  padding: 1rem 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  min-height: 200px;
}
.testimonial-reel .box .test-title {
  color: var(--secondary);
  text-align: center;
  margin-top: 3.3rem;
  margin-bottom: 15px;
}
.testimonial-reel .box .test-content {
  text-align: center;
}
.testimonial-reel .slick-slide {
  opacity: 1;
  transition: opacity 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
}
.testimonial-reel .slick-slide.slick-cloned {
  opacity: 1;
  transition: opacity 0.3s;
}
.testimonial-reel .slick-slide.slick-current.slick-active {
  opacity: 1;
  transition: opacity 0.3s;
}
#testinomial .slick-dots li button:before {
  display: none;
  font-size: 40px;
}
#testinomial .slick-prev,
#testinomial .slick-next {
  display: block;
  background-color: var(--primary);
}



/**********************************************
                    FAQ
**********************************************/

#faq {
  background-color: var(--background);
}
#faq .accordion-item {
  margin-bottom: 1rem;
}

/**********************************************
                    Contact
**********************************************/



#contact .bg-contact .text {
  position: relative;
  text-align: center;
  color: var(--third);
}
#contact .bg-contact .text p {
  font-size: 1rem;
  margin: 0 auto;
  max-width: 800px;
}
#contact .bg-contact h3::before {
  position: absolute;
  content: "";
  background-color: var(--third);
  top: 17px;
  left: 10%;
  width: 100px;
  height: 3px;
}
#contact .bg-contact h3::after {
  position: absolute;
  content: "";
  background-color: var(--third);
  top: 17px;
  right: 10%;
  width: 100px;
  height: 3px;
}
#contact .bg-contact h2 {
  font-weight: 700;
}
#contact .form-control {
  background-color: transparent;
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: var(--third) !important;
}
#contact .form-label {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--third);
}
#contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}
#contact .form-control::placeholder {
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--third);
}
#contact .btn-contact {
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  width: 200px;
  height: 50px;
  line-height: 35px;
  border-radius: 30px;
}
#contact .bg-infos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/bgn-searching-ConvertImage.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 400px;
  padding: 2rem 2rem 0rem;
  margin: 0rem 1rem;
}

#contact .bg-infos .tips-infos .icon {
  font-size: 2rem;
  color: var(--white);
}
#contact .bg-infos .tips-infos h2 {
  font-size: 1.3rem;
  color: var(--white);
}

#contact span {
  font-weight: 600;
  font-size: 1.7rem;
  color: #c33131;
}


/**********************************************
                    Expert-Comptable
**********************************************/

#banner-expert .img-box {
  background: url(images/expert-comptable.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 300px;
}
#banner-expert .tips-text {
  padding: 12rem 5rem 5rem;
  height: 100%;
}
#banner-expert .tips-text .diviser {
  margin-top: 12px;
  margin-right: 5px;
  width: 20%;
}
#banner-expert .tips-text .diviser::before {
  display: block;
  content: "";
  border-top: 3px solid var(--primary);
}
#banner-expert .tips-text h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
#banner-expert .tips-text h1 > span {
  color: var(--primary);
  text-transform: uppercase;
}
#banner-expert .tips-text i {
  font-size: 2rem;
  color: var(--secondary);
}
#banner-expert .tips-text h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
#details-expert {
  background-color: var(--background);
}

#details-expert .content-details h2 {
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: justify;
}
#details-expert .content-details h2 > span {
  color: var(--primary);
}
#details-expert .content-details .nav-pills .nav-link {
  background-color: transparent !important;
  color: var(--third);
  font-size: 0.9rem;
  padding: 1.5rem 1.5rem ;
  border-bottom: 1px solid #c6c6c6;
  border-radius: 0px;
}
#details-expert .content-details .nav-pills .nav-item:hover {
  background-color: var(--secondary);
}
#details-expert .content-details .nav-pills .nav-item .nav-link.active {
  position: relative;
  background-color: var(--primary) !important;
  border-radius: 0px !important;
  color: var(--white);
}
#details-expert .content-details .nav-pills .nav-item:hover > .nav-link {
  color: var(--white) !important;
}
#details-expert .content-details .nav-pills .nav-item .nav-link.nav-link.active::after {
  position: absolute;
  content: "";
  top: 25px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--primary);
  display: block;
  width: 0;
}
#details-expert .content-details .line {
  border: 1px solid #c6c6c6;
  padding: 2rem 0;
}
#details-expert .content-details .tab-content p {
  text-align: justify;
}


/**********************************************
                    CTA
**********************************************/

#cta {
  position: relative;
  background: url(images/banner.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  width: 100vw;
  height: 100%;
}
#cta .overlay {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: var(--secondary);
  opacity: 0.8;
}
#cta .text h3 {
  color: var(--white);
}
#cta .text h3::before {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 64px;
  left: 33%;
  width: 100px;
  height: 3px;
}
#cta .text h3::after {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 64px;
  right: 33%;
  width: 100px;
  height: 3px;
}
#cta .text h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--white);
}
#cta .text h2::after {
  position: absolute;
  content: "";
  left: 33%;
  bottom: -15%;
  height: 3px;
  width: 380px;
  background-color: var(--primary);
}
#cta p {
  color: var(--white);
}
#cta .tip-cta {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3rem 2rem;
}


/**********************************************
                    IMMOBILIER
**********************************************/


#banner-immobilier .img-box {
  background: url(images/immobilier.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 300px;
}
#banner-immobilier .tips-text {
  padding: 12rem 5rem 15rem;
  height: 100%;
}
#banner-immobilier .tips-text .diviser {
  margin-top: 12px;
  margin-right: 5px;
  width: 20%;
}
#banner-immobilier .tips-text .diviser::before {
  display: block;
  content: "";
  border-top: 3px solid var(--primary);
}
#banner-immobilier .tips-text h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
#banner-immobilier .tips-text h1 > span {
  color: var(--primary);
}
#banner-immobilier .tips-text i {
  font-size: 2rem;
  color: var(--secondary);
}
#banner-immobilier .tips-text h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
#details-expert-immo {
 background-color: var(--background);
}
#details-expert-immo .immo h3::before {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 16%;
  left: 28%;
  width: 100px;
  height: 3px;
}
#details-expert-immo .immo h3::after {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 16%;
  right: 28%;
  width: 100px;
  height: 3px;
}
#details-expert-immo .immo h2 {
  font-weight: 600;
  font-size: 2.5rem;
}
#details-expert .immo h2 > span {
  color: var(--secondary);
}
#details-expert-immo span {
  font-weight: 600;
}
#details-expert-immo .tip-immo {
  background-color: var(--white);
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#details-expert-immo .tips-immo h3::before {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 18%;
  left: 28%;
  width: 100px;
  height: 3px;
}
#details-expert-immo .tips-immo h3::after {
  position: absolute;
  content: "";
  background-color: var(--primary);
  top: 18%;
  right: 28%;
  width: 100px;
  height: 3px;
}
#details-expert-immo .tips-immo h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}
#details-expert-immo .tips-immo h2 > span {
  color: var(--secondary);
}


#details-expert-immo nav > div a.nav-item.nav-link,
#details-expert-immo nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color:var(--white);
  background: var(--secondary);
  border-radius:0;
}

#details-expert-immo nav > div a.nav-item.nav-link.active:after{
  content: "";
  position: relative;
  bottom: -55px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: var(--primary) ;
}
#details-expert-immo .tab-content{
  line-height: 25px;
  padding: 2.5rem 2rem;
  border: 1px solid #c6c6c6;
}

#details-expert-immo > div a.nav-item.nav-link:hover,
#details-expert-immo nav > div a.nav-item.nav-link:focus
{
  border: none;
  background: var(--primary);
  color:#fff;
  border-radius:0;
  transition:background 0.20s linear;
}


/**********************************************
                    EXTERNALISATION
**********************************************/

#banner-externa .img-box {
  background: url(images/externa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 300px;
}
#banner-externa .tips-text {
  padding: 12rem 5rem 15rem;
  height: 100%;
}
#banner-externa .tips-text .diviser {
  margin-top: 12px;
  margin-right: 5px;
  width: 20%;
}
#banner-externa .tips-text .diviser::before {
  display: block;
  content: "";
  border-top: 3px solid var(--primary);
}
#banner-externa .tips-text h1 {
  font-weight: 700;
  color: var(--third);
  text-transform: uppercase !important;
}
#banner-externa .tips-text h1 span {
  color: var(--primary);
}
#details-expert-externa {
  background-color: var(--background);
}



/**********************************************
                    ACCOMPAGNEMENT / NUMERIQUE
**********************************************/

#banner-accp .img-box {
  background: url(images/accp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 300px;
}
#banner-num .img-box {
  background: url(images/num.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 300px;
}
#banner-accp .tips-text,
#banner-num .tips-text {
  padding: 12rem 5rem 15rem;
  height: 100%;
}
#banner-accp .tips-text .diviser,
#banner-num .tips-text .diviser {
  margin-top: 12px;
  margin-right: 5px;
  width: 20%;
}
#banner-accp .tips-text .diviser::before,
#banner-num .tips-text .diviser::before {
  display: block;
  content: "";
  border-top: 3px solid var(--primary);
}
#banner-accp .tips-text h1,
#banner-num .tips-text h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary);
  text-transform: uppercase !important;
}
#banner-accp .tips-text h1 > span,
#banner-num .tips-text h1 > span {
  color: var(--secondary);
}


/**********************************************
                    Footer
**********************************************/

#footer {
  position: relative;
  background: url(images/bgn-searching-ConvertImage.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#footer .l-abt {
  position: relative;
}
#footer .l-abt .diviser {
  margin-top: 20px;
  margin-right: 10px;
  width: 10%;
}
#footer .l-abt .diviser::before {
  display: block;
  content: "";
  border-top: 3px solid var(--white);
}
#footer .l-abt span {
  font-size: 1.7rem;
  color: var(--white);
  text-align: center;
}
#footer .l-abt h5 {
  color: var(--white);
}
#footer .l-abt .ltr {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}
#footer img {
  max-width: 100%;
  width: 300px !important;
  max-height: 100%;
}
#footer p {
  position: relative;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--white);
  margin-top: 1rem;
}
#footer .icons i {
  margin: 1rem;
  font-size: 1.4rem;
  color: var(--white);
}
#footer h6 {
  position: relative;
  color: var(--white);
  margin-top: 1rem;
}
#footer ul {
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  color: var(--white);
}
#footer ul li {
  margin-bottom: 1rem;
}
#footer ul li i {
  font-size: 1rem;
}

/**********************************************
                    Footer
**********************************************/

#faq .accordion-header .accordion-button:focus {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  border-color: var(--white) !important;
  box-shadow: none;
}
#faq .accordion-header .accordion-button:not(.collapsed){
  color: var(--white) !important;
  background-color: var(--primary) !important;
}


/**********************************************
                    Blog
**********************************************/

#post h2 {
  font-weight: 800;
  font-size: 10rem;
  color: #a2a1a1;
}

#post .input-group {
  height: 50px;
}
#post .input-group .form-control {
  border-radius: 0px;
  border: none;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#post .input-group .input-group-text {
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#post .input-group .input-group-text i {
  color: var(--white);
}
#post .post-img img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#post .post-img {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#post .post-img .post-itera {
  padding: 1rem;
}
#post .post-img .post-itera::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  left: 0;
  bottom: 11%;
}
#post .post-img .post-itera h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--third);
}
#post .post-img .info {
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--secondary);
  margin-top: 1rem;
}

/**********************************************
                    Post Content
**********************************************/

#post-content .box {
  border-radius: 5px;
  padding: 3rem 5rem;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#post-content .box h1 {
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2rem;
}
#post-content .box img {
  border-radius: 5px;
}
#post-content .box .content {
  margin-top: 2rem;
}
#post-content .box .content p {
  text-align: justify;
}



/**
 * 4.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* WordPress Media Queries */
@media (max-width: 600.98px) {
  #banner .fix-text h1{
    font-size: 3rem;
  }
  #banner .fix-text p {
    display: none;
  }
  #banner .fix-text .btn-banner {
    font-size: 1rem;
    width: 160px;
    height: 40px;
    line-height: 20px;
  }
  #header .navbar .navbar-nav a{
    line-height: 35px;
  }
  #header .navbar .navbar-nav a.btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0px;;
  }
  #banner .fix-text {
    top: 60%;
  }
  #banner-expert .tips-text{
    padding: 2rem 1rem 3rem;
  }
  #banner-externa .tips-text,
  #banner-num .tips-text,
  #banner-immobilier .tips-text,
  #banner-accp .tips-text {
    padding: 2rem 1rem 3rem;
  }
  #tips {
    margin-top: 2rem;
  }
  #footer .offset-1 {
    margin-left: 0% !important;
  }
  #post-content .offset-1 {
    margin-left: 0% !important;
  }
  #post-content .box {
    padding: 3rem 2rem;
  }
  #offer .l-offer h2::before,
  #testinomial .l-offer h2::before {
    display: none !important;
  }
  #offer .l-offer h2::after,
  #testinomial .l-offer h2::after {
    display: none !important;
  }
  #contact .bg-contact h3::before {
    display: none !important;
  }
  #contact .bg-contact h3::after {
    display: none !important;
  }
  #cta .text h3::before {
    display: none !important;
  }
  #cta .text h3::after {
    display: none !important;
  }
  #cta .text h2::after {
    display: none !important;
  }
  #details-expert-immo .immo h3::before {
    display: none !important;
  }
  #details-expert-immo .immo h3::after {
    display: none !important;
  }
  #details-expert-immo .tips-immo h3::before {
    display: none !important;
  }
  #details-expert-immo .tips-immo h3::after {
    display: none !important;
  }
  .span-news{
		display: none !important;
	}
  .span-news{
		display: inherit !important;
	}
}

@media (min-width: 601px) and (max-width: 782.98px) {
  #header-top {
    display: none;
  }
  #header .navbar .navbar-nav a{
    line-height: 35px;
  }
  #header .navbar .navbar-nav a.btn {
    margin-bottom: 1rem;
  }
  #banner .fix-text .btn-banner {
    font-size: 1rem;
    width: 160px;
    height: 40px;
    line-height: 20px;
  }
  #banner-externa .tips-text,
  #banner-num .tips-text,
  #banner-immobilier .tips-text,
  #banner-accp .tips-text {
    padding: 2rem 1rem 3rem;
  }
  #tips {
    margin-top: 2rem;
  }
  #banner .fix-text h1{
    font-size: 1.5rem;
  }
  #banner .fix-text {
    top: 60%;
  }
  #footer {
    text-align: center !important;
  }
  #footer .l-abt {
    text-align: center !important;
  }
  #footer .offset-1 {
    margin-left: 0% !important;
  }
  #footer .l-abt .ctn {
    justify-content: center;
  }
  #post-content .offset-1 {
    margin-left: 0% !important;
  }
  #post-content .box {
    padding: 3rem 2rem;
  }
  #offer .l-offer h2::before,
  #testinomial .l-offer h2::before {
    display: none !important;
  }
  #offer .l-offer h2::after, 
  #testinomial .l-offer h2::after {
    display: none !important;
  }
  #contact .bg-contact h3::before {
    display: none !important;
  }
  #contact .bg-contact h3::after {
    display: none !important;
  }
  #cta .text h3::before {
    display: none !important;
  }
  #cta .text h3::after {
    display: none !important;
  }
  #cta .text h2::after {
    display: none !important;
  }
  #details-expert-immo .immo h3::before {
    display: none !important;
  }
  #details-expert-immo .immo h3::after {
    display: none !important;
  }
  #details-expert-immo .tips-immo h3::before {
    display: none !important;
  }
  #details-expert-immo .tips-immo h3::after {
    display: none !important;
  }
  .i-news{
	  display: none !important;
	}

  .span-news{
		display: inherit;
	}
}

@media (min-width: 783px) {
  
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #banner .fix-text h1{
    font-size: 3rem;
  }
  #banner .fix-text p {
    display: none;
  }
 
  #header-top {
    display: none;
  }
  #header .navbar .navbar-nav a{
    line-height: 35px;
  }
  #header .navbar .navbar-nav a.btn {
    margin-bottom: 1rem;
  }
  #banner .fix-text .btn-banner {
    font-size: 1rem;
    width: 160px;
    height: 40px;
    line-height: 20px;
  }
  #banner-externa .tips-text,
  #banner-num .tips-text,
  #banner-immobilier .tips-text,
  #banner-accp .tips-text{
    padding: 2rem 1rem 3rem;
  }
  #tips {
    margin-top: 2rem;
  }
  #banner .fix-text h1{
    font-size: 2rem;
  }
  #banner .fix-text {
    top: 60%;
    margin-left: 4rem;
  }
  #banner-expert .img-box {
    min-height: 430px;
  }
  #header .navbar .navbar-nav .dropdown .sub-menu {
    position: absolute;
    z-index: 1 !important;
    right: -80%;
  }
  #footer {
    text-align: center !important;
  }
  #footer .l-abt .ctn {
    justify-content: center;
  }
  #offer .l-offer h2::before,
  #testinomial .l-offer h2::before {
    display: none !important;
  }
  #offer .l-offer h2::after,
  #testinomial .l-offer h2::after {
    display: none !important;
  }
  #contact .bg-contact h3::before {
    display: none !important;
  }
  #contact .bg-contact h3::after {
    display: none !important;
  }
  #cta .text h3::before {
    display: none !important;
  }
  #cta .text h3::after {
    display: none !important;
  }
  #cta .text h2::after {
    display: none !important;
  }
  #details-expert-immo .immo h3::before {
    display: none !important;
  }
  #details-expert-immo .immo h3::after {
    display: none !important;
  }
  #details-expert-immo .tips-immo h3::before {
    display: none !important;
  }
  #details-expert-immo .tips-immo h3::after {
    display: none !important;
  }
  .i-news{
	  display: none !important;
	}

  .span-news{
		display: inherit;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #footer .offset-1 {
    margin-left: 0% !important;
  }
  #offer .l-offer h2::before,
  #testinomial .l-offer h2::before {
    display: none !important;
  }
  #offer .l-offer h2::after,
  #testinomial .l-offer h2::after {
    display: none !important;
  }
  #contact .bg-contact h3::before {
    display: none !important;
  }
  #contact .bg-contact h3::after {
    display: none !important;
  }
  #cta .text h3::before {
    display: none !important;
  }
  #cta .text h3::after {
    display: none !important;
  }
  #cta .text h2::after {
    display: none !important;
  }
  #details-expert-immo .immo h3::before {
    display: none !important;
  }
  #details-expert-immo .immo h3::after {
    display: none !important;
  }
  #details-expert-immo .tips-immo h3::before {
    display: none !important;
  }
  #details-expert-immo .tips-immo h3::after {
    display: none !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}


